#title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}

.LocationBttn {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 25rem;

}

.LocationBttn:hover {
    background-color: rgb(54, 54, 62)
}

.LocationBttn:active {
/* For a better UX */
  transform: scale(0.95);  
}